* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #444c5a;
    padding: 20px;
}

header{
    background-color: black;
    padding: 20px;
    border-bottom: 3px solid #ffffff;
}

#title{
    text-align: center;
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

#title2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

form{
    background: #ffffff;
    padding: 30px;
    max-width: 420px;
    margin: 20px auto;
    border-radius: 20px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    width: 100px;

}

.emailpass{
    display: flex;
}


input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 14px;
}

#logButton {
    display: flex;
    justify-content: center;
    gap: 30px;
}

input[type="submit"], #regBtn {
    background: #2980b9;
    color: #ffffff;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
}