* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #b7d0f5;
    padding: 20px;
}

#title{
    text-align: center;
    color: #193a5b;
    font-size: 32px;
    margin-bottom: 10px;
}

#title2 {
    text-align: center;
    color: #193a5b;
    margin-bottom: 20px;
}

form{
    background: #ffffff;
    padding: 30px;
    max-width: 900px;
    margin: auto;
    border-radius: 20px;
}
section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 20px;
}

#genInfo, #conInfo {
    width: 50%;
}

#genInfo h2,
#conInfo h2 {
    color: #193a5b;
    border-bottom: 2px solid #193a5b;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    /* color: #2c3e50; */
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,select,
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 14px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 6px;
    margin-left: 10px;
}

textarea {
    resize: none;
}

#subButton {
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    background: #2980b9;
    color: #ffffff;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}