* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #444c5a;
    padding: 20px;
}

header{
    background-color: black;
    padding: 20px;
    border-bottom: 3px solid #ffffff;
}

#title{
    text-align: center;
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

#title2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

form{
    background: #ffffff;
    padding: 30px;
    max-width: 900px;
    margin: 20px auto;
    border-radius: 20px;
}

section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 20px;
}

#genInfo, #conInfo {
    width: 50%;
}

#genInfo h2,
#conInfo h2 {
    color: #193a5b;
    border-bottom: 2px solid #193a5b;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,select,
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 14px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 6px 6px 15px;
}

#subButton {
    display: flex;
    justify-content: center;
    gap: 30px;
}

input[type="submit"],#logBtn {
    background: #2980b9;
    color: #ffffff;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
}

