* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
     height: 100%;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background: #ffffff;
    padding: 15px 0;
    margin: 20px 0px;
    position: sticky;
    top: 0;
}

.navbar a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.navbar a:hover {
    background: black;
    color: #ffffff;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 10%;
    background: white;
}

.main-left {
    flex: 1;
    text-align: center;
}

.main-left img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.main-right {
    flex: 1;
    padding: 20px;
}

.main-right h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.main-right p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 25px;
}

.section {
    padding: 50px 10%;
    background: #fff;
    margin-top: 20px;
    scroll-margin-top: 90px
}

.section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.skill-category {
    margin-bottom: 35px;
}

.skill-category h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}


.skills span {
    display: inline-block;
    background: #f1f1f1;
    padding: 10px 18px;
    margin: 8px;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.skills span:hover {
    background: black;
    color: white;
}


.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.project-card {
    background: #f9f9f9;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

.project-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}

.contact {
    text-align: center;
}

.contact-box {
    background: #f9f9f9;
    padding: 30px;
    border-radius: 15px;
    /* display: inline-block; */
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}

.contact-box p {
    font-size: 18px;
    margin: 15px 0;
}

.contact-box a {
    color: #007bff;
    text-decoration: none;
}

.contact-box a:hover {
    text-decoration: underline;
}

.footer {
    background: #111;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #007bff;
}

/* CONTACT PAGE */
.contact-page {
    text-align: center;
}

.contact-intro {
    font-size: 18px;
    margin: 10px 0 30px;
    color: #555;
}


.contact-form {
    max-width: 500px;
    margin: auto;
    background: #f9f9f9;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
}

.contact-form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
}
